/* Open Sans Condensed Regular */
@font-face {
    font-family: 'Open Sans Condensed';
    src: url('/fonts/OpenSans_Condensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  /* Open Sans Condensed Bold */
  @font-face {
    font-family: 'Open Sans Condensed';
    src: url('/fonts/OpenSans_Condensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  /* Open Sans Condensed ExtraBold */
  @font-face {
    font-family: 'Open Sans Condensed';
    src: url('/fonts/OpenSans_Condensed-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }

  /* Open Sans Condensed Light */
  @font-face {
    font-family: 'Open Sans Condensed';
    src: url('/fonts/OpenSans_Condensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }

  /* Open Sans Condensed Medium */
  @font-face {
    font-family: 'Open Sans Condensed';
    src: url('/fonts/OpenSans_Condensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

  /* Open Sans SemiCondensed ExtraBold */
  @font-face {
    font-family: 'Open Sans SemiCondensed';
    src: url('/fonts/OpenSans_SemiCondensed-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }
