---

---

<section class="hero">
  <article class="hero__content">
    <img
      class="hero__title-image"
      src="/img/teleformula-titulo.png"
      alt="Titulo teleformula"
      aria-label="Titulo de  teleformula "
      width="400"
    />
    <p class="hero__description">
      Con 90 años de experiencia, nos posicionamos como la marca líder en la
      industria de la comunicación gracias a nuestra amplia oferta en medios,
      siendo la única empresa que ofrece cobertura multimedia: radio,
      televisión, internet y exteriores.
    </p>
  </article>
  <aside class="hero__aside">
    <div class="hero__background">
      <img
        class="hero__logo"
        src="/img/teleformula-blanco.png"
        alt="Teleformula logo"
        aria-label="Teleformula logo"
        width="300"

      />
    </div>
  </aside>
</section>
